@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Thin 100.ttf")
    font-weight: 100

@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Extra-Light 200.ttf")
    font-weight: 200


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Light 300.ttf")
    font-weight: 300


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Normal 400.ttf")
    font-weight: 400


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Medium 500.ttf")
    font-weight: 500


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Semi-Bold 600.ttf")
    font-weight: 600


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Bold 700.ttf")
    font-weight: 700


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Extra-Bold 800.ttf")
    font-weight: 800


@font-face 
    font-family: Mosk
    src: url("/fonts/Mosk Ultra-Bold 900.ttf")
    font-weight: 900
