@import ../node_modules/bootstrap/scss/bootstrap
@import ../sass/var
@import ../sass/fonts

* 
    font:
        family: 'Mosk'
        weight: 400

.header 
    text-transform: uppercase 
    color: #152034

    h2
        margin-bottom: 0
    
.row-1 
    .brandDiv
        margin-bottom: 1em

        .brand
            h2 
                font:
                    size: 2.3rem
                    weight: 700
                margin-bottom: .2em
                color: #152034
                // text-shadow: 1px 1px 1px #999 
                // border-bottom: 1px solid #222
 
        p 
            font:
                size: .9rem
 
    .blk 
        line-height: 1.3
        
        p 
            margin-bottom: 0
    
.row-2
    .inner_row-2

        .poly 
            width: 30%
            -webkit-clip-path: polygon(0% 0%, 75% 0%, 88% 51%, 75% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 75% 0%, 88% 51%, 75% 100%, 0% 100%);

            p 
                margin-bottom: 0
                font:
                    size: 1.6rem
        
        .date 
            width: 30%
            -webkit-clip-path: polygon(100% 0%, 25% 0%, 12% 51%, 25% 100%, 100% 100%)
            clip-path: polygon(100% 0%, 25% 0%, 12% 51%, 25% 100%, 100% 100%)
            
            p 
                margin-bottom: 0
                font:
                    size: 1.6rem

.row-3
    .col 
        .tbl
            th 
                font:
                    weight: bold 
                color: #0027ac
            tbody 
                &:last-child
                    border-bottom: 2px solid #ddd 

.row-4 
    .custm
        h3,
        p 
            margin-bottom: 0
            line-height: 1.5
    
    .ft-sum 
        .pre-sum 
            width: 70%
            margin: 0

        .poly-2 
            margin: 20px 0
            font:
                size: 1.2rem
            // width: 30%
            -webkit-clip-path: polygon(100% 0%, 25% 0%, 12% 51%, 25% 100%, 100% 100%)
            clip-path: polygon(100% 0%, 25% 0%, 12% 51%, 25% 100%, 100% 100%)
            background: #0027ac

            p 
                margin-bottom: 0
                padding-left: 28%

.row-5 
    .poly-3 
        -webkit-clip-path: polygon(0% 0%, 75% 0%, 88% 51%, 75% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 75% 0%, 88% 51%, 75% 100%, 0% 100%);

        p 
            margin-bottom: 0
            font:
                size: 1.2rem

.h-logo 
    height: 100px
    margin-top: -20px
    // background:
    //     image: url('../img/hinpos.png')
    //     repeat: no-repeat 
    //     position: center 
    //     size: contain 

    img 
        height: 100%
        opacity: .8