<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HindPOS Bill</title>
  <link rel="stylesheet" href="./node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row py-4 row-1">
      <div class="col-md-6 d-flex flex-row align-items-center brandDiv">
        <div class="brand">
          <h2 class="text-left" style="color: #ccd"> {{store.name}} </h2>
        </div>
      </div>
      <div class="col-md-6 addr blk text-right" style="color: #aaa">
        {{#with store}}
          {{#if address}}
            {{#with address}}
              {{#if lines}}
                {{#each lines}}
                  <p>
                    {{this}}
                  </p>
                {{/each}}
              {{/if}}
              <p>
                {{#if city}}
                  <span>
                    {{ city }}
                  </span>
                {{/if}}
                {{#if pincode}}
                  <span>
                    {{ pincode }}
                  </span>
                {{/if}}
                {{#if state}}
                  <span>
                    {{ state }}
                  </span>
                {{/if}}
              </p>
            {{/with}}
          {{/if}}
          {{#if phone}}
            <p>
              <span class="fa fa-phone px-3"></span>
                <span>{{ phone }}</span>
            </p>
          {{/if}}
          {{#if gstin}}
            <p>
              <b>GSTIN </b>
              <span>{{gstin}}</span>
            </p>
          {{/if}}
        {{/with}}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-2 my-3">
      <div class="col-md-12 py-0 px-3 inner_row-2">
        {{#with order}}
          <div class="py-2 float-left poly" style="background: #0027ac">
            <p class="text-light px-5">Invoice #{{num}}</p>
          </div>
          <div class="date py-2 px-5 float-right text-right text-light" style="background: #0027ac">
            <p>{{updatedAt}}</p>
          </div>
        {{/with}}
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-3">
      <div class="col">
        <table class="table tbl">
          <thead>
            <tr>
              <th>Description of Goods</th>
              <th>HSN Code</th>
              <th>Quantity</th>
              <th>Rate</th>
              <th>Discount</th>
              <th>Sub Total</th>
              <th>CGST</th>
              <th>CGST</th>
              <th>SGST</th>
              <th>SGST</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {{#each order.products}}
              <tr>
                <td>{{name}}</td>
                <td>{{hsn}}</td>
                <td>{{quantity}}</td>
                <td>{{rate}}</td>
                <td>{{discount}}</td>
                <td>{{subTotal}}</td>
                <td>{{taxes.cgst.percent}}</td>
                <td>{{taxes.cgst.amount}}</td>
                <td>{{taxes.sgst.percent}}</td>
                <td>{{taxes.sgst.amount}}</td>
                <td>{{total}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-4">
      <div class="col-md-8">
        <div class="custm" style="color: #aaa">
          {{#with order}}
            {{#if secondPerson}}
              {{#with secondPerson}}
              <h3>Doctor</h3>
              <p>{{name}}</p>
              {{/with}}
            {{/if}}
            {{#if person}}
              {{#with person}}
              <h3>Customer Info</h3>
              <p>{{name}}</p>
              <p>{{address.line.[0]}}</p>
              <p>{{address.city}} {{address.pincode}}</p>
              <p>
                <span class="fa fa-phone pr-3"></span>
                {{contacts.phones.[0]}}
              </p>
              {{/with}}
            {{/if}}
          {{/with}}
        </div>
      </div>
      <div class="col-md-4 ft-sum">
        <div class="pre-sum float-right">
          <p>Sub Total
            <span class="float-right px-4">{{order.price}}</span>
          </p>
          <p>Tax
            <span class="float-right px-4">{{order.tax}}</span>
          </p>
          {{#if order.payment.closed}}
            <p>Paid
              <span class="float-right px-4">{{order.payment.paid}}</span>
            </p>
            <p>Due
              <span class="float-right px-4">{{order.payment.due}}</span>
            </p>
          {{/if}}
        </div>
        <div class="clearfix"></div>
        <div class="poly-2 py-3 px-4 text-light text-left">
          <p>Total
            <span class="float-right">₹ {{order.total}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row row-5 my-5">
      <div class="col-md-5">
        <div class="poly-3 py-3 px-4 text-light" style="background: #0027ac">
          <p>Thank You for shopping with us
            <span class="fa fa-smile-o fa-lg ml-3"></span>
          </p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="h-logo">
          <img src="img/hindpos.png" alt="">
        </div>
      </div>
      <div class="col-md-5 text-right">
        <p class="py-3">Invoice is generated by
          <span class="font-weight-bold" style="color: #0027ac">hindpos.com</span>
        </p>
      </div>
    </div>
  </div>
</body>

</html>